header {
  background-color: #fff;
}

.main-navbar-container {
  padding: 2rem 0;
}

.nav-links-wrapper {
  align-items: center;
  margin-right: 6rem;
}

.nav-links-wrapper ul {
  width: 100%;
}

.links li a {
  padding: 0 1.3rem;
  font-weight: var(--light-weight);
  color: var(--dark);
}

.nav-logo-wrapper {
  margin-left: 6rem;
  margin-right: 6rem;
  font-weight: 900;
  font-size: 2rem;
  color: var(--dark);
}

.signup-btn {
  background-color: var(--black);
  color: var(--light-color);
  letter-spacing: 1px;
  border-radius: 4rem;
  padding: 0.5rem 0.9rem;
  font-size: 0.8rem;
  margin-left: 1rem;
  font-weight: var(--light-weight);
}

.login-btn {
  font-weight: var(--light-weight);
  color: var(--dark);
}

.header-main-container {
  width: 100%;
}

.header-wrapper {
  margin-left: 6rem;
  margin-right: 6rem;
  background-color: var(--primary);
  border-radius: 2rem;
  min-height: 27rem;
  position: relative;
}

.hero-area {
  align-items: flex-start;
  padding: 5rem;
}

.hero-paragraph {
  width: 40%;
  color: var(--dark-light-color);
  line-height: 1.6;
}

.hero-text {
  margin: 0;
  font-size: 3rem;
}

.how-they-work {
  color: var(--dark);
}

.how-they-work .hero-arrow-icon {
  transition: var(--default-transition);
  margin-left: 0.5rem;
}

.how-they-work:hover > .hero-arrow-icon {
  transform: translateX(1rem);
}

.hero-image-wrapper {
  position: absolute;
  right: 0;
  width: auto;
}

.hiro-image {
  object-fit: cover;
  width: 50%;
  transform: translate(7rem, 2rem);
}
